@media screen and (min-width: 750) {
  html {
    font-size: 150px !important;
  }
}
body {
  height: 33.333333rem;
}
.head {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.head .head-loog {
  background-color: #000;
  opacity: 0.7;
  padding: 0 0.266667rem;
  height: 0.266667rem;
}
.head .head-loog .box {
  width: 100%;
  height: 0.266667rem;
}
.head .head-loog .box .loog {
  width: 0.413333rem;
  height: 0.266667rem;
}
.head .head-loog .box .loog .loog-tou {
  display: block;
  height: 0.266667rem;
  width: 0.413333rem;
  background: url(../imag/icon-sprite.png) no-repeat -17px -75px;
}
.head .head-loog .box .navigation {
  position: relative;
  display: inline-block;
  top: -0.266667rem;
  left: 0.666667rem;
  height: 0.266667rem;
}
.head .head-loog .box .navigation a {
  float: left;
  margin-right: 0.2rem;
}
.head .head-loog .box .navigation a .nav-nan {
  display: inline-block;
  height: 0.266667rem;
  line-height: 0.266667rem;
  color: #aaa;
}
.head .head-loog .box .navigation a .nav-jian {
  display: inline-block;
  width: 0.046667rem;
  height: 0.046667rem;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  transform: rotate(-45deg);
}
.head .head-loog .box .navigation-right {
  left: 0.166667rem;
  float: right;
}
.head .head-loog .box .navigation-right a {
  display: block;
  float: left;
}
.propaganda {
  width: 100%;
  height: 4rem;
  overflow: hidden;
}
.propaganda .nav-hang {
  position: absolute;
  float: left;
  top: 0.533333rem;
  z-index: 66;
  height: 48px;
  width: 100%;
  background-color: #fff;
}
.propaganda .nav-hang .nav-loog {
  float: left;
  width: 48px;
}
.propaganda .nav-hang .nav-loog .nav-loog-a {
  float: left;
  display: block;
  width: 48px;
  height: 48px;
  background: url(../images/nav_logo_new.jpg) no-repeat 0 -48px;
}
.propaganda .nav-hang .mi-nav {
  float: left;
}
.propaganda .nav-hang .mi-nav ul {
  display: flex;
  float: left;
  justify-content: flex-start;
}
.propaganda .nav-hang .mi-nav ul .mi-xia {
  position: relative;
}
.propaganda .nav-hang .mi-nav ul .mi-xia .nav-wu {
  display: flex;
  align-items: center;
  height: 0.32rem;
  line-height: 0.32rem;
  text-align: center;
  padding: 0 0.1rem;
  color: #000;
}
.propaganda .nav-hang .mi-nav ul .mi-xia .nav-wu:hover {
  background-color: #353C42;
  color: #F89E35;
}
.propaganda .nav-hang .mi-nav ul .mi-xia .nav-wu:hover::after {
  background-position: 0 -0.053333rem;
}
.propaganda .nav-hang .mi-nav ul .mi-xia .nav-mi::after {
  content: "";
  margin-left: 0.053333rem;
  display: block;
  width: 0.093333rem;
  height: 0.053333rem;
  background: url(../imag/toubiao.png) no-repeat 0 0;
}
.propaganda .nav-hang .mi-nav ul .mi-xia ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #353C42;
}
.propaganda .nav-hang .mi-nav ul .mi-xia ul a {
  display: block;
  margin-left: 0.1rem;
  padding: 0.066667rem 0;
  width: 0.8rem;
  color: #fff;
}
.propaganda .nav-hang .gou {
  float: right;
  width: 0.76rem;
  height: 0.32rem;
  text-align: center;
  line-height: 0.32rem;
  background-color: #F89E35;
}
.propaganda .nav-hang .gou a {
  font-size: 0.106667rem;
  color: #fff;
}
.propaganda .prd-vid {
  width: 100%;
  height: 4.666667rem;
  overflow: hidden;
}
.propaganda .prd-vid video {
  width: 100%;
}
.propaganda .prd-loog {
  position: absolute;
  top: 1.666667rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.933333rem;
  height: 1.133333rem;
  z-index: 1;
}
.propaganda .prd-loog .plg-loog {
  position: absolute;
  top: 0.066667rem;
  left: 50%;
  transform: translateX(-50%);
}
.propaganda .prd-loog .plg-loog span {
  display: block;
  width: 2.333333rem;
  height: 2.133333rem;
  background: url(../images/shou.png) no-repeat;
  background-size: 2.333333rem;
}
.propaganda .prd-loog .plg-botton {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.propaganda .prd-loog .plg-botton .plg-clher {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.propaganda .prd-loog .plg-botton .plg-clher a span {
  display: block;
  padding: 0.066667rem 0.2rem;
  border-radius: 0.013333rem;
}
.propaganda .prd-loog .plg-botton .plg-clher a .plg-left {
  background-color: #00a5e2;
}
.propaganda .prd-loog .plg-botton .plg-clher a .plg-right {
  background-color: #ff9c00;
}
.xia {
  overflow: hidden;
}
.xin {
  width: 7.933333rem;
  margin: 0.333333rem auto;
}
.xin .wen {
  width: 100%;
  text-align: center;
  margin: 0.333333rem 0;
}
.xin .wen h2 {
  font-size: 0.32rem;
}
.xin .xin-imag {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.xin .xin-imag .xin-imag-1 {
  background: url(../images/1.jpg) no-repeat center center;
  background-size: cover;
}
.xin .xin-imag .xin-imag-2 {
  background: url(../images/2.jpg) no-repeat center center;
  background-size: cover;
}
.xin .xin-imag .xin-imag-3 {
  background: url(../images/官网大眼睛2.jpg) no-repeat center center;
  background-size: cover;
}
.xin .xin-imag div {
  position: relative;
  width: 32%;
  height: 1.366667rem;
  background-size: cover;
}
.xin .xin-imag div span {
  display: block;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
}
.xin .xin-imag div span a {
  display: block;
  padding: 0.1rem 0.133333rem;
  color: #fff;
  font-size: 0.12rem;
}
.xin .gon {
  margin-top: 0.133333rem;
  padding: 0.046667rem 0;
  width: 100%;
  text-align: center;
}
.xin .gon a {
  font-size: 0.12rem;
  border-radius: 0.033333rem;
  padding: 0.046667rem 0.433333rem;
  color: #fff;
  background-color: #00a5e2;
}
.xinyin {
  width: 100%;
}
.xinyin .zhan {
  position: relative;
  height: 2.913333rem;
}
.xinyin .zhan .quan {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/xigema.jpg) no-repeat top center;
  background-size: cover;
  margin: 0 auto;
}
.xinyin .zhan .zhong {
  position: absolute;
  top: 40%;
  left: 50%;
}
.xinyin .zhan .zhong .xiong h2 {
  font-size: 0.3rem;
  font-weight: 400;
  color: #545863;
}
.xinyin .zhan .zhong .xiong p {
  color: #4e6495;
  font-size: 0.133333rem;
}
.xinyin .zhan .zhong .ziDan {
  width: 3.84rem;
  height: 0.28rem;
}
.xinyin .zhan .zhong a {
  display: inline-block;
  margin-top: 0.166667rem;
  padding: 0.04rem 0.2rem;
  background-color: #ff9c00;
  color: #fff;
}
.bg {
  width: 100%;
  height: 7.78rem;
  background: url(../images/bg1.jpg) no-repeat;
}
.bg .tu .zhiti {
  text-align: center;
}
.bg .tu .zhiti h2 {
  font-size: 0.3rem;
  font-weight: 400;
  margin-bottom: 0.386667rem;
}
.bg .tu .zhiti p {
  font-size: 24px;
}
.bg .tu .luen {
  position: absolute;
  padding: 0.1rem 0;
  width: 100%;
  height: 2.966667rem;
}
.bg .tu .luen .luebg {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1.333333rem;
  background: -webkit-linear-gradient(left, rgba(42, 55, 81, 0) 0, rgba(42, 55, 81, 0.8) 25%, rgba(42, 55, 81, 0.8) 75%, rgba(42, 55, 81, 0));
}
.bg .tu .luen .huan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8.333333rem;
  height: 2.966667rem;
  overflow: hidden;
}
.bg .tu .luen .huan .qie {
  width: 600%;
}
.bg .tu .luen .huan .qie li {
  display: flex;
  float: left;
  justify-content: space-around;
  width: 1250px;
  height: 440px;
}
.bg .tu .luen .huan .qie li .bgtu {
  width: 746px;
  height: 440px;
  background-color: #ccc;
}
.bg .tu .luen .huan .qie li .bg1-tu {
  background: url(../images/bg1.png) no-repeat center right;
  background-size: contain;
}
.bg .tu .luen .huan .qie li .bg2-tu {
  background: url(../images/bg2.png) no-repeat center right;
  background-size: contain;
}
.bg .tu .luen .huan .qie li .bg3-tu {
  background: url(../images/bg3.png) no-repeat center right;
  background-size: contain;
}
.bg .tu .luen .huan .qie li .bg4-tu {
  background: url(../images/bg4.png) no-repeat center right;
  background-size: contain;
}
.bg .tu .luen .huan .qie li .bg5-tu {
  background: url(../images/bg5.png) no-repeat center right;
  background-size: contain;
}
.bg .tu .luen .huan .qie li .bg1-zi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 504px;
}
.bg .tu .luen .huan .qie li .bg1-zi h2 {
  text-align: center;
  font-size: 58px;
}
.bg .tu .luen .huan .qie li .bg1-zi p {
  margin-top: 10px;
}
.bg .tu .luen .xuan {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3.066667rem;
  background-color: #ccc;
}
.bg .tu .luen .xuan ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 7.933333rem;
}
.bg .tu .luen .xuan ul li {
  padding: 0 0.053333rem;
  width: 0.546667rem;
  height: 0.766667rem;
}
.bg .tu .luen .xuan ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg .tu .luen .xuan ul li a .box {
  background-color: rgba(51, 51, 51, 0.9);
  transform: rotate(5deg);
  overflow: hidden;
}
.bg .tu .luen .xuan ul li a .box .box-tu {
  transform: rotate(-10deg);
  width: 0.533333rem;
  height: 0.6rem;
  border-radius: 0.033333rem;
  overflow: hidden;
  z-index: 5;
}
.bg .tu .luen .xuan ul li a .box .box-1 {
  background: url(../images/xiao1.png) no-repeat center center;
  background-size: cover;
}
.bg .tu .luen .xuan ul li a span {
  display: block;
}
.bg .tu .luen .xuan ul li a span p {
  display: inline-block;
  font-size: 0.073333rem;
  color: #333;
  padding: 0.006667rem 0.073333rem;
  margin-top: -0.066667rem;
}
.shouwang {
  position: relative;
  width: 100%;
  height: 1.866667rem;
  background: url(../images/1-bg.jpg) no-repeat center center;
}
.shouwang .er {
  margin: 0 auto;
  width: 7.333333rem;
  height: 100%;
  padding-top: 0.333333rem;
  text-align: center;
}
.shouwang .er h2 {
  font-size: 0.386667rem;
}
.shouwang .er p {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0.08rem 0 0.2rem 0;
  font-size: 0.16rem;
}
.shouwang .er a {
  padding: 0.04rem 0.133333rem;
  background-color: #ff9c00;
  font-size: 0.12rem;
  color: #fff;
}
.shouwang .bu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.166667rem;
  height: 2.466667rem;
  background: url(../images/shouw.png) no-repeat bottom center;
  background-size: contain;
}
.tt {
  width: 100%;
  height: 2.530333rem;
  background-color: #222;
}
.tt .taill {
  width: 6.666667rem;
  margin: 0 auto;
  background-color: #222;
  padding-top: 40px;
}
.tt .taill p {
  overflow: hidden;
}
.tt .taill p .fudong {
  float: left;
  font-size: 14px;
  color: #fff;
  margin-right: 37px;
}
.tt .taill p .fudong span {
  float: left;
  display: block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  background-image: url(../images/sprite-24-blue.png);
}
.tt .taill p .fudong .jin-1 {
  background: url(../images/sprite-24-blue.png) -99px -2px;
}
.tt .taill p .fudong .jin-2 {
  background: url(../images/sprite-24-blue.png) -148px -27px;
}
.tt .taill p .fudong .jin-3 {
  background: url(../images/sprite-24-blue.png) -28px -123px;
}
.tt .taill .wangyi {
  position: relative;
  overflow: hidden;
  padding: 50px 0 20px 0;
  width: 100%;
}
.tt .taill .wangyi .loog-be {
  float: left;
}
.tt .taill .wangyi .loog-be a {
  display: block;
  width: 140px;
  height: 80px;
  background: url(../images/blizzard.png) no-repeat center center;
}
.tt .taill .wangyi .loog-ne {
  float: left;
  left: 140px;
  margin-top: 40px;
}
.tt .taill .wangyi .loog-ne a {
  display: block;
  width: 125px;
  height: 38px;
  background: url(../images/logo_ne.png) no-repeat center center;
}
.tt .taill .wangyi .info {
  padding-left: 50px;
  float: left;
}
.tt .taill .wangyi .info ul {
  overflow: hidden;
  margin-bottom: 10px;
}
.tt .taill .wangyi .info ul li {
  float: left;
  font-size: 14px;
  color: #fff;
}
.tt .taill .wangyi .info ul li a {
  color: #fff;
  padding: 1px 10px;
}
.tt .taill .wangyi .info p {
  line-height: 20px;
  margin: 5px 0;
  color: rgba(185, 171, 171, 0.733);
  font-size: 12px;
}
.tt .taill .wangyi .info p a {
  color: rgba(185, 171, 171, 0.733);
}
.tt .taill .wangyi .info p a img {
  vertical-align: middle;
}
.tt .taill .wangyi .info p span {
  color: rgba(185, 171, 171, 0.733);
}
.tt .taill .fled {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
}
.tt .taill .fled p {
  line-height: 20px;
  font-size: 12px;
  color: rgba(185, 171, 171, 0.733);
}
